$red: #980905;

/** resets **/

*         { margin: 0; padding: 0; }
a:active  { outline: none; }
a:focus   { -moz-outline-style: none; }
ul, ol    { list-style-position: inside; }
ul li {
  padding-left: 1.2em;
  text-indent: -1em;
}
/** resets **/

p {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

a {
  color: $red;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
body {
  font-family: "Lucida Grande","Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  font-size: 13px;
  background: white;
  color: black;
  position: relative;
}

h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz', "Lucida Grande","Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

h1 {
  font-size: 3.2em;
  max-width: 1000px;
}

.slogan {
  font-size: 1.2em;
}

h2 {
  font-size: 2.4em;

  margin-top: 1em;
  margin-bottom: 0.6em;
}

h3 {
  font-size: 1.6em;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  
}

/* all textual parts are moved inside for 3em */

#wrapper > * {
  padding-left: 3em;
  position: relative;
}

/* all texts are moved inside $paddingleft */

ul#navigation {
  font-size: 1.1em;
  
  background: $red;
  margin-top: 1em;
  margin-bottom: 2em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  position: relative;
  
  li {
    display: inline;
    padding-right: 1em;
    padding-left: 0;
    
    a {
      color: white;
      padding-left: 1em;
      padding-right: 1em;
      padding-top: 0.3em;
      padding-bottom: 0.3em;
      text-decoration: none;
    }
    a:hover {
      color: $red;
      background: #fff;
    }

  }
}

/* The main content areaa */

#main {
  width: 60em;
  padding-bottom: 2em;
}

/* sidebar */

#sidebar {
  background: rgba(200, 200, 200, 0.5);
  position: absolute;
  top: 0;
  left: 67em;
  width: 22em;
  padding: 1em;
  padding-top: 10em;
  height: 600px;
}

.warning {
  background: url("http://guides.rubyonrails.org/images/tab_yellow.gif") no-repeat scroll left top #FFF9D8;
  border: medium none;
  margin: 0.25em 4em 1em 2em;
  min-height: 2em;
  padding: 1.25em 1.25em 1.25em 48px;
}

.warning a {
  color: #980905;
}

/* a single post */

.post {
  .content {
    margin-left: 1em;
  }
}

.post h3 {
  display: inline-block;
}

.post .permalink {
  margin-left: 3em;
}