/* line 8, ../src/site.sass */
* {
  margin: 0;
  padding: 0;
}

/* line 12, ../src/site.sass */
body {
  font-family: trebuchet ms, arial, clean, sans-serif;
  background: #444433;
  color: black;
}

/* line 17, ../src/site.sass */
#wrapper {
  width: 50em;
  margin: 3em auto 0;
  background: white;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  border-radius: 2em;
}

/* line 25, ../src/site.sass */
#header {
  font-family: Trebuchet;
  background: #222222;
  text-align: left;
  -moz-border-radius-topleft: 1em;
  -webkit-border-top-left-radius: 1em;
  -moz-border-radius-topright: 1em;
  -webkit-border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  padding: 2em;
  text-align: center;
}
/* line 37, ../src/site.sass */
#header h1 {
  font-size: 3em;
  color: white;
}

/* line 41, ../src/site.sass */
#navigation {
  background: #442288;
}
/* line 43, ../src/site.sass */
#navigation ul {
  list-style: none;
  margin: 0;
  text-align: left;
}
/* line 47, ../src/site.sass */
#navigation ul li {
  display: inline;
}
/* line 49, ../src/site.sass */
#navigation ul li a {
  color: white;
  font-size: 1.2em;
  padding: 2em;
  line-height: 2em;
}

/* line 55, ../src/site.sass */
#content {
  padding: 2em;
}
/* line 57, ../src/site.sass */
#content h1 {
  font-size: 1.5em;
  color: black;
  margin: 0 0 1em;
}
/* line 61, ../src/site.sass */
#content h2 {
  font-size: 1.2em;
  color: black;
  margin: 1em 0 1em 0;
}
/* line 65, ../src/site.sass */
#content h3 {
  font-size: 1em;
  color: black;
  margin: 0 0 1em 0;
}
/* line 70, ../src/site.sass */
#content ul {
  margin: 0.5em 0 0.5em 2em;
}

/* line 73, ../src/site.sass */
.clearer {
  clear: both;
}

/* line 76, ../src/site.sass */
#footer {
  background: #442288;
  -moz-border-radius-bottomleft: 1em;
  -webkit-border-bottom-left-radius: 1em;
  -moz-border-radius-bottomright: 1em;
  -webkit-border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  margin-bottom: 1em;
  border-top: 1px solid black;
  color: white;
  padding: 1em;
}
/* line 88, ../src/site.sass */
#footer ul {
  list-style: none;
  margin: 0;
  text-align: left;
}
/* line 92, ../src/site.sass */
#footer ul li {
  display: inline;
}
/* line 94, ../src/site.sass */
#footer ul li a {
  color: white;
  font-size: 1em;
  padding: 1em;
  line-height: 1em;
}

/* line 100, ../src/site.sass */
#archive {
  float: right;
  margin: 1.5em 0 1em 0;
  padding: 1em;
}

/* line 105, ../src/site.sass */
ul#archive {
  list-style-type: none;
  float: left;
}
/* line 108, ../src/site.sass */
ul#archive li {
  line-height: 1.5em;
  margin-left: 15px;
}
