<!DOCTYPE html>
 
<html>
  <head>
     <meta http-equiv="content-type" content="text/html; charset=utf-8" />
     <title>{{ page.title }} - User Group Speaker Exchange</title>
     <meta name="author" content="Thilo Utke" />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/stylesheets/site.css" type="text/css" />
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <h1>User Group Speaker Exchange</h1>
      </div>
      <div id="navigation">
        <ul>
          <li>
            <a href="/">Home</a>
          <li>
          <li>
            <a href="/archive.html">Updates</a>
          </li>
          <li>
            <a href="/about.html">About</a>
          </li>
        </ul>
      </div>
      <div id="content">
        {{ content }}
      </div>
      <div class="clearer"></div>
      <div id="footer">
        <ul>
          <li>
            <a href="https://docs.google.com/document/d/1svmhGQkjFJxahxnXm1eKarfB0gX_xekjYvum4jOJWAE/edit?hl=en_US">Google docs</a>
          <li>
          |
          <li>
            <a href="http://groups.google.com/group/usergroup-speaker-exchange">Google Group</a>
          <li>
          |
          <li>
            <a href="/archive.html">Updates</a>
          </li>
          |
          <li>
            <a href="/about.html">About</a>
          </li>
        </ul>
      <div>
    </div>
  </body>
</html>
